# Flask App Secrets
SECRET_KEY=your_generated_secret_key
SITE_PASSWORD=codevault_global_password_123

# Database (Supabase PostgreSQL)
# Your Supabase connection string under "Project Settings" -> "Database" -> "Connection string" -> (URI)
# e.g. postgresql://postgres.xxxxxx:Password@aws-0-eu-central-1.pooler.supabase.com:5432/postgres
DATABASE_URL=postgresql://user:password@domain:port/db

# File Storage (Cloudflare R2)
S3_BUCKET=your_r2_bucket_name
S3_ENDPOINT_URL=https://<your_cloudflare_account_id>.r2.cloudflarestorage.com
S3_ACCESS_KEY=your_r2_access_key
S3_SECRET_KEY=your_r2_secret_key
